@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Zhaoyang K8S Project</p>

    <p>Time：@ViewBag.DateTime</p>
    <p>PodName：@ViewBag.name</p>
</div>
